/*Challenge Nº 3 - YoProgramo
Author: Ariel W.
Repo: https://github.com/jlarata/actividad03.git
Description: Second exercise of HTML & CSS: Veterinary webpage.*/


* {}
* {font-family: Georgia, serif;
  margin: 0px;
padding: 0px}

h1 {font-weight: bold; font-size: 150%; margin-left:40px;}
p span {color: red; font-size:180%; font-weight: bolder;}

p negrita {font-weight: bold;}
p cursiva {font-style: italic;}
p negritacursiva {font-style: italic;font-weight: bold;}
/* esto es divertido pero no se como aplicarlo por separado img:hover {transform: scaleX(-1);}*/

.header {width:75%;margin-left:auto;margin-right:auto;margin-top: 100px;}
.menu {margin-left:65%; width: 200px;font-size: 90%}
.menu li {display:inline; padding-left:3px; padding-right:3px;}
.presentacion {width:50%; margin-left:auto; margin-right: auto; margin-top:4%; text-align: center;}
.servicios {width:75%; margin-left:auto; margin-right: auto; text-align: center;}
.servicios h1 {font-size:200%; font-weight: bolder;margin-bottom: 3%;margin-top:5%}
.servicios1 {width:25%;float:left;font-size: 90%;}
.servicios2 {width:25%;margin-left: auto;margin-right: auto;font-size: 90%}
.servicios3 {width:25%;float:right;font-size: 90%}
.avatar {border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 100px;}
.avatarb {border-radius: 50%;border: 1px solid #ddd;padding: 5px;width: 100px;}

.contacto {padding: 0%; border: 1px solid #fff;width:40%; margin-left:auto; margin-right:auto; margin-top:5%;}
.contactoi {float: left; border: 1px solid #fff;width:30%; text-align:right;}
.contactot {float: right; border: 1px solid #fff;width:69%; text-align:left;}
.icono {border: 1px solid #fff;padding: 0%;width: 10%;}

.volver {width:5%;margin-left:auto;margin-right:auto;margin-top:15%;font-size:auto}
